extends layout

block content
    .w3-card-4
        header.w3-container.w3-green
            form(method="get" action="/alunos").w3-right
                button(type="submit").w3-dark-gray.w3-xlarge Voltar à lista de alunos
            h2=title
        h3 Preencha os seguintes campos:
        form(method="post" action='/alunos/' + aluno.Número).w3-margin-left
            div.input
                span.label Nome
                input(type="text", name="nome", value=aluno.Nome)
            div.input
                span.label Git
                input(type="text", name="git", value=aluno.Git)
            div.input
                span.label TPCS
                select(name="quant")
                    option(value=[]) 0 TPCS
                    option(value=[1]) 1 TPC
                    option(value=[1,1]) 2 TPCS
                    option(value=[1,1,1]) 3 TPCS
                    option(value=[1,1,1,1]) 4 TPCS
                    option(value=[1,1,1,1,1]) 5 TPCS
                    option(value=[1,1,1,1,1,1]) 6 TPCS
                    option(value=[1,1,1,1,1,1,1]) 7 TPCS
                    option(value=[1,1,1,1,1,1,1,1]) 8 TPCS
            div.actions
                input(type="submit", value="Atualizar")
