extends layout

block content
    .w3-card-4
        header.w3-container.w3-green
            h2=title
        h3 Preencha os seguintes campos:
        form(method="post" action="/registo").w3-margin-left
            div.input
                span.label Nome
                input(type="text", name="nome")
            div.input
                span.label Número
                input(type="text", name="numero")
            div.input
                span.label Git
                input(type="text", name="git")
            div.actions
                input(type="submit", value="Registar")
