.align {
    text-align:center;
}

indice {
    display:block;
    border-style:solid;
    background-color:yellow;
    color:magenta;
    font-family:"Times New Roman";
    font-weight:bold;
    font-size:38px;
    margin:10px;
}

li {
    font-family:"Architects Daughter";
    font-weight:bold;
    font-size:18px;
    margin:15px;
}

body {
    background-color:lightblue;
}

a {
    text-decoration:none;
    color:black;
}